html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}





.inner_content_box {
  width: 98%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

ul a {
  text-decoration: none;
}

h1.headline {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #181D62;/*文字色*/
  background: linear-gradient(to right, #D5E9FF, white);/*背景色*/
  border-left: solid 5px #424E82;/*左線*/
  border-bottom: solid 3px #BABCD0;/*下線*/
  font-size: 1.2rem;
}
a h1.headline:hover {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #D5E9FF;/*文字色*/
  background: linear-gradient(to right, #181D62, white);/*背景色*/
  border-left: solid 5px #424E82;/*左線*/
  border-bottom: solid 3px #BABCD0;/*下線*/
  font-size: 1.2rem;
}

h1.title {
  text-align: center;
  font-size: 1.4rem;
}


h2.headline {
  color: black;/*文字色*/
  background: transparent;/*背景透明に*/
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border-left: solid 5px #424E82;
}


table, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}



.info_box {
  width: 100%;
  height: auto;
  background-color: #F2F9FF;
  border-color: #C5E4F8;
  border-width: 1px;
  border-radius: 0.3rem;
  border-style: solid;
}

.info_box h1 {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.info_box li {
  list-style: none;
}

.info_box hr {
  width: 95%;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #eeeeee;
}
.info_box a {
  text-decoration: none;
}

.news_box {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #014A9A, #1E80BD);
  border-radius: 0.3rem;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0,0,0,0.3));
}

.news_box h1 {
  height: 1rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: white;
  
}

.news_box ul {
  height: auto;
  background-color: white;
  border-radius: 0 0 0.3rem 0.3rem / 0 0 0.3rem 0.3rem;
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.news_box hr {
  width: 95%;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #eeeeee;
}
.news_box a {
  text-decoration: none;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }






ol.index {
  width: 70%;
  /*background-color: #F7F7F7;*/
  border-style: dotted;
  border-color: #777777;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  list-style-type: disc;
}
ol.index li {
  margin: 1rem;
}




.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-weight: normal;/*太字*/
  font-size: 1rem;
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: black;/*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}







@media all and (min-width:1081px) {
  .content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    flex: 1;
  }

  .content_box {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    border-color: #B0D7F7;
    border-style: ridge;
    border-width: 1px;
    border-radius: 0.3rem;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
  }



  ul.article_card {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }


  ul.article_card li{
    width: 98%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }


 
  ul.article_card li a{
    text-decoration: none;
  }
  ul.article_card li article{
    display: flex;
    width: 100%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #a5a5a5;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px #999;
  }



  ul.article_card li article figure{
    width: 20%;
    height: auto;
  }
 

  ul.article_card li article div.menber_data h1.menberName{    /*メンバー(名前)の設定*/
    font-size: 30px;
    /* background-color: #f2e5e7; */
    padding: 0px 0px;
    /* line-height: 1.231; */
    margin-top: 10;
  }

  ul.article_card li article figure img{
    width: 100%;
    height: auto;
  }
  ul.article_card li article div.text_content{
    width: 80%;
    padding: 0.5rem;
    float: right;
  }
  
  ul.article_card li article:hover {
    background-color: #deecf8;
  }
 
  /* //////////////////// */
  /*     メンバー紹介ページ   */
  /* //////////////////   */
  .menber_list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

  }
  .menber_box{
    display: block;
    margin: 50px;
    /* width: auto; */
    
  }
  .menber_data{ /*メンバーページ,テキスト*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.0em;
  }
  .menber_list img{
    width: 200px;
    /* max-height: 40px; */
  }

  h1.group_name{   /*メンバーページ,グループ名*/
    text-align: left;
    font-size: 1.5rem;
  }

  .menber_detail{
    position: relative;
    /* display: flex; */
    max-width: 1200px;
    flex: 100%;
    /* margin: 0 auto; */
    margin: 100px auto;
    /* font-size: 10px; */
  }
  .menber_detail_header{
     display:flex;
  }
  .menber_detail_content{
    
    font-family: fantasy;
    font-size: 20px;
    margin:auto;
  }
  .menber_detail_visual img{
    max-width: 600px;
    padding: 0 20px 20px 0;
  }
  .menber_detail_keyword{
    flex-basis:auto;
    margin: auto;
    color:crimson;
    font-weight: bold;
    text-align: center;
    /* font-size: 20px; */
  }
  .menber_detail_keyword li{
    display: inline-block;
    opacity:0.5;
  }
  .menber_detail_keyword li span{
    display: block;
    margin: 3px 2px;
    padding: 2px 13px;
    border: 1px solid #eb0b0b;
    border-radius: 20px;
    font-size: 20px;
  }
  .menber_detail_comment section{
    margin-top: 50px;
  }
 
 
}





@media all and (max-width:1080px) {
  .content {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    flex: 1;
  }



  ul.article_card {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }
  
  ul.article_card li{
    width: 98%;
    margin-bottom: 2rem;
  }
  ul.article_card li a{
    text-decoration: none;
    
  }
  ul.article_card li article{
    width: 100%;
    height: auto;
    border-left: solid 1px #a5a5a5;
    border-right: solid 1px #a5a5a5;
    border-bottom: solid 1px #a5a5a5;
    box-shadow: 0 0 5px #999;
  }

  ul.article_card li article figure{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
  }
  ul.article_card li article figure.menber{   /* メンバー紹介用写真 */
    width: 30%;
    height: auto;
    max-width: 200px;
  }

  ul.article_card li article div.menber_data{ /*メンバー紹介用テキスト*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 0.5em;
  }
  .menberName{                               /*メンバー(名前)の設定*/
    font-size: 30px;
    /* background-color: #f2e5e7; */
    padding: 10px 0px;
    /* line-height: 1.231; */
    margin-top: 0;
  }
  ul.article_card li article figure img{
    width: 100%;
    height: auto;
  }
  
  ul.article_card li article div.text_content{
    padding: 0.5rem;
  }
  ul.article_card li article div.text_content time{
  
  }
  ul.article_card li article:hover {
    background-color: #deecf8;
  }

  /* //////////////////// */
  /*     メンバー紹介ページ   */
  /* //////////////////   */
  .menber_list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

  }
  .menber_box{
    display: block;
    margin: 50px;
    /* width: auto; */
    
  }
  .menber_data{ /*メンバーページ,テキスト*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.0em;
  }
  .menber_list img{
    width: 200px;
    /* max-height: 40px; */
  }

  h1.group_name{   /*メンバーページ,グループ名*/
    text-align: left;
    font-size: 1.5rem;
  }

  .menber_detail{
    position: relative;
    /* display: flex; */
    max-width: 1200px;
    flex: 100%;
    /* margin: 0 auto; */
    margin: 100px auto;
    /* font-size: 10px; */
  }
  .menber_detail_header{
     flex-wrap: wrap;
  }
  .menber_detail_content{
    font-family: fantasy;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    line-height:10px;
  }

  .menber_detail_visual{
    text-align: center;
  }

  .menber_detail_visual img{
    max-width: 70%;
    /* margin: auto; */
  }
  .menber_detail_keyword{
    flex-basis:auto;
    margin: auto;
    color:crimson;
    font-weight: bold;
    text-align: center;
    /* font-size: 10px; */
  }
  .menber_detail_keyword li{
    display: inline-block;
    opacity:0.5;
  }
  .menber_detail_keyword li span{
    display: block;
    margin: 3px 2px;
    padding: 2px 13px;
    border: 1px solid #eb0b0b;
    border-radius: 20px;
    font-size: 14px;
  }
  .menber_detail_comment section{
    margin-top: 50px;
  }
}