.header_imgs {
    margin: 20px 0 50px;
}

.header_imgs picture img, .header_imgs picture source {
    width: 100%;
    height: auto;
}

.header_imgs .slick-next {
    right: 20px;
    z-index: 99;
}

.header_imgs .slick-prev {
    left: 15px;
    z-index: 100;
}


#info, #news{
    width: 100%;
    height: auto;
    background-color: #286090;
    border-radius: 0.2rem;
}



#info ul, #news ul {
    width: 93%;
    height: auto;
    background-color: white;
    border-radius: 0.2rem;
    margin-left: auto;
    margin-right: auto;
}

#info h1, #news h1 {
    padding-left: 3rem;
    padding-bottom: 0;
    font-weight: normal;
}

#info a, #news a {
    text-decoration: none;
}



#main-content {
    width: 65%;
    float: left;
}


#sidebar {
    width: 30%;
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}