.header_imgs {
    margin: 20px 0 50px;
}

.header_imgs picture img, .header_imgs picture source {
    width: 100%;
    height: auto;
}

.header_imgs .slick-next {
    right: 20px;
    z-index: 99;
}

.header_imgs .slick-prev {
    left: 15px;
    z-index: 100;
}



@media all and (min-width:1081px) {

    #main-content {
        width: 65%;
        float: left;
    }
    
    
    #sidebar {
        width: 30%;
        float: right;
    }
    
    .clearfix:after {
        content: "";
        clear: both;
        display: block;
    }

    #sns {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


  }
  
  @media all and (max-width:1080px) {

    #main-content {
        width: 98%;
    }

    #sidebar {
        width: 100%;
    }

    #sns {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

  }