h1 {
  color: #000000;/*文字色*/
  border: solid 6px #000000;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  width: 85%;
  margin-left: auto;
margin-right: auto;
 }

.contentA{
height: 600px;
}

.contentA h2{
color: #ffffff;/*文字色*/  
background: #000000;/*背景色*/
padding: 0.5em;/*文字まわり（上下左右）の余白*/
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top:20%;
}

.one-text{
margin-top: 15%;
margin-left: 15%;
margin-right: 15%;
}

.contentB{
position: relative;
height: 700px;
}

.contentB img{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width: 80%;
}

.contentD{
  height: 200px;
background-color: #545454;
}

.D-one{

  margin-left: 15%;
  margin-right: 15%;
}

.contentC{
position: relative;
height: 200px;
background-color: #545454;
}

ul {
position: absolute;
top: 50%;
-webkit-transform : translateY(-50%);
transform : translateY(-50%);
display: flex;
margin-right: 10%;
  }

li{
  list-style: none;
}

.contentD p{
color: #ffffff;
margin-top: 0%;
}

.contentE,.contentG,.contentI,.contentJ{
height: 300px;
}

.contentE{
  margin-top: 10%;
}

.contentF{
  height: 850px;
}
.contentH{
  height: 800px;
}

.contentJ{
  height: 700px;
}

.contentE img,.contentG img,.contentI img{
width: 60%;
}


.contentF h2,.contentH h2,.contentJ h2{
color: #ffffff;/*文字色*/  
background: #000000;/*背景色*/
padding: 0.5em;/*文字まわり（上下左右）の余白*/
width: 60%;
margin-left: auto;
margin-right: auto;
margin-top: 20%;
}

.text{
margin-left: 15%;
margin-right: 15%;
margin-top: 10%;
}

.six{
height: 200px;

}

.contentK{
  margin-left: 15%;
  margin-right: 15%;
margin-top: 40%;
}